body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e4d8;
}

ul {
    list-style: none;
    width: 40%;
}

a, span, p, h1, h2, h3 {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: brown;
}

.wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav nav"
    "con con con con"
    "ftr ftr ftr ftr";
}

footer {
    width: 100%;
    grid-area: ftr;
}


.top-nav{
    display: inline-block;
    text-align: center;
    padding-left: 5%;
    max-width: 100%;
    grid-area: nav;

}

.top-nav ul {
    padding-right: 0.5em;
    display: inline-block;
}

.top-nav li{
    font-size: 1.5em;
    padding-left: 0.5em;
    display: inline-block;
}

.tagline {
    font-size: 0.8em;
}

.ind-content{
    max-width: 100%;
    background-color: white;
    padding: 0 2%;
    grid-area: con;
}

.inner-articles {
    padding: 5%;
}