body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6e4d8;
}

ul {
    list-style: none;
    width: 40%;
}

a, span, p, h1, h2, h3 {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: brown;
}

.collapse {
    color: brown;
    cursor: pointer;
    padding: 0.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.0em;
}

.coll-content {
    padding: 0 1%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
}

.wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav nav nav nav"
    "con con con con"
    "ftr ftr ftr ftr";
}

footer {
    width: 100%;
    grid-area: ftr;
}


.top-nav{
    display: inline-block;
    text-align: center;
    padding-left: 5%;
    max-width: 100%;
    grid-area: nav;

}

.top-nav ul {
    padding-right: 0.5em;
    display: inline-block;
}

.top-nav li{
    font-size: 1.5em;
    padding-left: 0.5em;
    display: inline-block;
}

.tagline {
    font-size: 0.8em;
}

.ind-content{
    max-width: 100%;
    background-color: white;
    padding: 0 1%;
    grid-area: con;
}
/* Index specifc */

.inner-articles {
    padding: 5%;
}

.inner-articles h1{
    padding-top: 2%;
}

/* Archive specific */



/* Wiki specific */
/* Projects specific */
